/* 
O @font-face serve para poder usar uma fonte não existente no banco de fontes do pc, voce tem que seguir a estrutura abaixo para poder
fazer ela ser usada no seu código, após o @font-family , se abre um " { " e se nomeia como será chamada a fonte. depois um "src:" seguido de um " url ",(não sei pq ainda)
para procurar de onde ela vem, e dizer o tipo de formato " format "  que ela pode ser, existem o " OTF e o TTF " depedendo de qual for tem que colocar dentro do " format() " as seguintes opções:
(TTF = truetype) (OTF = opentype), existem outros, mas os mais comuns são esses dois. 😊
*/


@font-face {
    font-family: "mine";
    src: url('/fontes/pixel1.otf') format('opentype'), url('/fontes/pixel2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/**/

header {
    background-color: rgb(70, 104, 196);
    bottom: 600px;
}

nav {
    display: inline-block;
    position: absolute;
    width: 802px;
    height: 60px;
    left: 1100px;
    top: 30px;
    margin-right: 100px;
}

#icone {}

#button {
    display: inline-block;
    font-family: 'Press Start 2P';
    background: #BA1F33;
    height: 60px;
    line-height: 60px;
    ;
    /*para centralizar o line-height tem que ter o mesmo tamanho do height*/
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0px #000000;
}

a {
    color: #FFF;
    font-family: "Fira Code";
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    /* para saber todos os modelos de text decoration só ir buscar no site (mdn texte decoration)*/
    margin-right: 30px;

}


#nome {
    display: inline-block;
    font-family: 'mine';
    font-size: 50px;
    color: #FFF;
    background: #3A4042;
    position: absolute;
    width: 627px;
    height: 184px;
    line-height: 100px;
    padding-left: 110px;
    padding-right: 10px;
    left: 91px;
    top: 196px;
    box-shadow: 10px 10px 0px #000000;
}

#cargo {
    display: inline-block;
    color: rgb(61, 204, 223);
    position: absolute;
    width: 590px;
    height: 30px;
    left: 131px;
    top: 306px;
    font-family: 'mine';
    font-style: normal;
    font-weight: 400;
    padding-left: 170px;
    padding-right: 10px;
    font-size: 45px;
    line-height: 30px;
}

body,html{
    margin: 0px;
    height: 100%;
}
.bg{
background: url(/assets/img/fundo.png);
background-repeat: no-repeat;
background-size:cover;
background-position: center;
background-attachment: fixed;

}