/* 
O @font-face serve para poder usar uma fonte não existente no banco de fontes do pc, voce tem que seguir a estrutura abaixo para poder
fazer ela ser usada no seu código, após o @font-family , se abre um " { " e se nomeia como será chamada a fonte. depois um "src:" seguido de um " url ",(não sei pq ainda)
para procurar de onde ela vem, e dizer o tipo de formato " format "  que ela pode ser, existem o " OTF e o TTF " depedendo de qual for tem que colocar dentro do " format() " as seguintes opções:
(TTF = truetype) (OTF = opentype), existem outros, mas os mais comuns são esses dois. 😊
*/


@font-face {
    font-family: "mine";
    src: url('../fontes/pixel1.otf') format('opentype'), url('../fontes/pixel2.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/**/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(70, 104, 196);
    border-bottom:5px solid #BA1F33
}


nav {
    text-align: right;
}

#icone {
    transition: transform 250ms linear;;
}

#icone:hover {
    transform: scale(1.2);
}

a {
    color: #FFF;
    font-family: "Fira Code";
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    /* para saber todos os modelos de text decoration só ir buscar no site (mdn texte decoration)*/
    margin-right: 30px;
}

a:not(:last-child)::before{
    display: inline-block;
    content: "";
    background-color: #BA1F33;
    margin-right: 10px;
    padding: 8px;
}

#button{
    
    display: inline-block;
    font-family: 'Press Start 2P';
    background: #BA1F33;
    height: 60px;
    line-height: 60px;
    text-shadow:2px 3px 0px #000000;
    /*para centralizar o line-height tem que ter o mesmo tamanho do height*/
    padding: 0px 20px;
    box-shadow: 5px 5px 0px #000000;
    transition: transform 150ms linear;
}
#button:hover{
    background: #189e18;
    transform: scale(1.1);
}



