.title {
    font-family: 'Press start 2p';
    font-size: 35px;
    margin-top: 0;
    margin: 0px;
    color: #FFF;
    text-shadow:5px 5px 0px #000000; ;
}

.section_skills .title{
    color:#0984e3;
    text-align: center;
    padding-top: 50px;
    margin: 0;    
}

.projetos .title{
    text-align: center;
    padding-top: 50px;
    margin: 0;
    }

